@media (min-width: 568px) and (max-width: 1024px) {
  .landing-container-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60px;
    width: 628px;
    height: 210px;
    margin: auto;
    text-align: center;
  }
  .landing-line {
    width: 350px;
  }
  .landing-subtitle {
    /*top: 25px;*/
    /*width: 280px;*/
  }
}
