@media (min-width: 568px) and (max-width: 1024px) {
  .landing-container-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 25px;
    width: 628px;
    height: 210px;
    margin: auto;
    text-align: center;
  }
  .landing-line {
    width: 350px;
  }
  .navbar-copy.title {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    font-size: 32px;
    margin: auto;
    text-align: center;
    z-index: 3;
  }
  .navbar-tab {
    position: absolute;
    left: 0;
    right: 0;
    top: 97px;
    width: 420px;
    text-align: center;
    font-size: 14px;
    background-color: #efefef;
    border-radius: 4px 5px 0 0;
    text-transform: capitalize;
    margin: auto;
  }
  .landing-overlay.darken {
    background: rgba(0, 0, 0, .4) !important;
  }

}
