  @media (min-width: 568px) and (max-width: 1024px) {
    .work-type {
      width: auto;
      padding-bottom: 6px;
      padding-top: 30px;
      font-size: 22px;
    }
    .work-type:nth-child(1) {
      padding-top: 0px !important;
    }
    .portfolio-overlay {
      background: rgba(0, 0, 0, .7);
    }
  }
