<div class='about-overlay'>
  <div>
    <p class='work-type'>Hi, I'm Scott Jason...</p>
    <p class='about-me first'>I'm a software engineer living in San Francisco</p>
    <p class='role-name orange'>Here's a bit about me</p>
    <p class='about-me'>
      When I was a junior in college I started a band with a friend of mine. I never imagined it'd last for over ten years. I wrote the lyrics and music and played the piano. Eventually, the <span ng-click='landingCtrl.openLink("https://www.youtube.com/watch?v=GWcXuu16ttc")' class='add-blue'>first single</span> would hit number one on Billboard's Heat Seeker Charts and the band would go on to become a VH1 'You Oughtta Know Artist', become RIAA Certified Gold and share the stage with some of the best musicians in the world. You can find out more about <span ng-click='landingCtrl.openLink("https://en.wikipedia.org/wiki/Thriving_Ivory")' class='add-blue'>Thriving Ivory</span> here or visit iTunes, Spotify, et al.
    </p>
    <p class='about-me main'>
      For five of those years the band wasn't signed and in an effort to create and maintain an online image and following, I began teaching myself the fundamentals of html and css.
    </p>
    <p class='about-me main'>
      Fast-foward to today and I'm a full-time Frontend Engineer specializing in all things Javascript. I'm especially proficient in Angular.js and Node.js and can create near pixel-perfect UI's off a designer's images. I'm equally as comfortable writing logic on the server. For a more thorough list of languages and frameworks, please download my resume.
    </p>
    <p class='role-name orange'>
      I like architecting big projects and taking on big features - I love the process
    </p>
    <p class='about-me main'>
      Writing readable code, not just readable by me but my other developers as well, is something I strive for because I believe it lends itself not only to a managlebale codebase but to the overall quality of the code itself and the application as a whole.
    </p>
    <p class='about-me main'>
      I love working and collaborating with other developers, learning from seasoned pros and teaching those new to the craft.
    </p>
    <p class='about-me main'>
      In a nutshell, I love to build stuff.
    </p>
  </div>
  <div class='portolio-footer'></div>
</div>
