<div class='about-overlay'>
  <div>
    <p class='work-type'>Hi, I'm Scott Jason..</p>
    <p class='about-me first'>I'm a software engineer living in San Francisco.</p>
    <p class='role-name orange'>Here's a bit about me.</p>
    <p class='about-me'>
      When I was a junior in college I started a band with a friend of mine. I never imagined it'd last for over ten years. I wrote the music and lyrics and played the piano. Eventually, the <span ng-click='landingCtrl.openLink("https://www.youtube.com/watch?v=GWcXuu16ttc")' class='add-blue'>first single</span> would hit number one on the Billboard Heat Seeker Charts and the band would go on to become a VH1 'You Oughtta Know Artist', become RIAA Certified Gold and share the stage with some of the most talented musicians in the world. <span ng-click='landingCtrl.openLink("https://en.wikipedia.org/wiki/Thriving_Ivory")' class='add-blue'>Find out more about Thriving Ivory</span> or visit iTunes, Spotify, et al.
    </p>
    <p class='about-me main'>
      For the first five of those years the band wasn't signed and in an effort to create and maintain an online presence, I began teaching myself the fundamentals of web development.
    </p>
    <p class='about-me main'>
      Fast-foward to today and I'm a full-time Software Engineer who loves architecting big projects and taking on big features. I specialize in all things Javascript and am especially proficient in Angular.js, React.js and Node.js. I can create near pixel-perfect UI's off a designer's images and am equally as comfortable working on the server. For a more thorough list of languages and frameworks, please download my resume.
    </p>
    <p class='role-name orange italic'>
      "There are two ways of constructing a software design. One way is to make it so simple that there are obviously no deficiencies. And the other way is to make it so complicated that there are no obvious deficiencies.”
      <br><span style="color:white"> ― Charles Antony Richard Hoare, ACM Turing Award 1980</span>
    </p>
    <p class='about-me main'>
      Writing readable code with structure, simplicity and intent is something I strive for because I believe it lends itself not only to a manageable codebase but oftentimes to the quality of the code itself and the application as a whole.
    </p>
    <p class='about-me main'>
      I love working and collaborating with other developers, learning from seasoned pros and teaching those new to the craft.
    </p>
    <p class='about-me'>
      In a nutshell, I love to build stuff.
    </p>
  </div>
  <div class='portolio-footer'></div>
</div>
