<div ng-validate class='contact-overlay'>
  <div ng-hide='showLoader || showSent' class='contact-form'>
    <p ng-hide='landingCtrl.isValid("name") || !user.name || !user.name.length' class='err-message'>please enter a valid name</p>
    <input class='contact-name' type='text' placeholder='your name' ng-model='user.name'>
    <p ng-hide='landingCtrl.isValid("email") || !user.email || !user.email.length' class='err-message'>please enter a valid email</p>
    <input class='contact-email' type='text' placeholder='your email' ng-model='user.email'>
    <p ng-hide='landingCtrl.isValid("message") || !user.message || !user.message.length' class='err-message'>please enter a valid message</p>
    <textarea class='contact-message' placeholder='enter your message...' ng-model='user.message'></textarea>
    <div ng-hide='showLoader' id='submit-btn' ng-click='landingCtrl.submitContact();' class='contact-form-btn'>
      <p id='submit-btn-copy'>Submit</p>
    </div>
  </div>
  <div ng-show='showLoader && !showSent' class="sending">
    <p class="sending-message">Sending your message...</p>
    <div class="loader"></div>
  </div>
  <div ng-show='showSent' class="sending">
    <p class="sending-message">Message sent, thank you.</p>
    <div class="contact-form-btn ok">OK</div>
  </div>
</div>
