<div ng-show='showOverlay' class='navbar-container'>
  <div class='navbar-container-inner'>
    <p ng-class='{ "fade-in" : ( fadeInTitle ) }' class='navbar-copy title'>Scott Jason</p>

    <ng-dropdown></ng-dropdown>

    <div ng-class='{ "fade-in" : ( fadeInLocation ) }' class='navbar-tab'>
      <div class='navbar-block portfolio'>
        <p class='navbar-copy work'>Portfolio</p>
      </div>
      <div class='navbar-block'>
        <p class='navbar-copy resume'>resume</p>
      </div>
      <div class='navbar-block'>
        <p class='navbar-copy about'>about</p>
      </div>
      <div class='navbar-block'>
        <p class='navbar-copy contact'>contact</p>
      </div>
    </div>
  </div>
</div>