<div ng-class="{ 'darken' : (isOpen) }"  class='landing-overlay'></div>

<div ng-show='showPortfolio || showContact || showAbout' class='navbar-container'>
  <div class='navbar-container-inner'>
    <p class='navbar-copy title'>Scott Jason</p>

    <div class='social-container'>
      <i ng-click='landingCtrl.onShareOpt("https://github.com/scottjason")'class="icon-social-github"></i>
      <i ng-click='landingCtrl.onShareOpt("https://linkedin.com/in/scottleejason")' class="icon-social-linkedin"></i>
      <i ng-click='landingCtrl.onShareOpt("https://twitter.com/scottleejason")' class="icon-social-twitter"></i>
    </div>

    <ng-dropdown></ng-dropdown>

    <div class='navbar-tab'>
      <div ng-class="{ 'is-active' : (showPortfolio) }" ng-click='landingCtrl.navigate("landing.portfolio", "Portfolio")'  ng-mouseover="onHoverPortolfio = true" ng-mouseleave="onHoverPortolfio = false" class='navbar-block portfolio'>
        <p ng-class="{ 'is-active' : (showPortfolio) }" class='navbar-copy work'>Portfolio</p>
      </div>
      <div ng-click='landingCtrl.downloadResume();' ng-mouseover="onHoverResume = true" ng-mouseleave="onHoverResume = false" class='navbar-block resume'>
        <p  class='navbar-copy resume'>Resume</p>
      </div>
      <div ng-class="{ 'is-active' : (showAbout) }" ng-click='landingCtrl.navigate("landing.about", "About")' ng-mouseover="onHoverAbout = true" ng-mouseleave="onHoverAbout = false" class='navbar-block about'>
        <p ng-class="{ 'is-active' : (showAbout) }" class='navbar-copy about'>About</p>
      </div>
      <div ng-class="{ 'is-active' : (showContact) }" ng-click='landingCtrl.navigate("landing.contact", "Contact")' ng-mouseover="onHoverContact = true" ng-mouseleave="onHoverContact = false" class='navbar-block contact'>
        <p ng-class="{ 'is-active' : (showContact) }" class='navbar-copy contact'>Contact</p>
      </div>
    </div>
  </div>
</div>
