<div ng-show='showPortfolio && !Contact' ng-class='{ "show-portfolio" : ( showPortfolio || Portfolio )}' class='portfolio-overlay'>
  <div>
    <p class='work-type'>Professional Work</p>
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("https://stanza.co/");' class='company-name' href="">Stanza</a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Frontend Software Engineer</p>
    <p class="interval-and-location">March 2015 - Present | San Francisco, Ca</p>
    <div class='article-text-container'>
      <p class='article-stack'><span>Stack: </span> Angular.js, Node.js, Express.js, MongoDB</p>
      <p class='article-tools'><span>Tools: </span> Grunt, Redis, HighCharts, Underscore, Async, Invision</p>
      <p class='about-stanza-header'>About Stanza</p>
      <p class='about-stanza-body'>Stanza's mission is to make scheduling around the web/mobile seamless. Our smart "Add to Calendar" button is easy to embed in any business' website/mobile app and offers their audience a two-click process to sync future events with any calendar. Current customers include large sports franchises (NCAA, NBA, NHL, NFL) where we've seen 30M+ calendar event downloads since launch.</p>
      <p class='my-contributions'>My Contributions</p>
      <p class='article-text'>
        Built Stanza's analytics feature. Logic is written on the client along with data-visualization using HighCharts.js
      </p>
      <p class='article-text'>
        Built Stanza's payment system.
      </p>
      <p class='article-text'>
        Built internal tools for the bd team to help streamline the sales process.
      </p>
      <p class='article-text'>
        Built the referral program at the time of Stanza's Button 2.0 launch.
      </p>
      <p class='article-text'>
        Removed an outdated task runner and built grunt into an existing app to help speed up development time and to compress the build properly for deployment.
      </p>
      <p class='article-text'>
        Worked with Stanza's lead UI/UX Designer, Jonathan Capecchi, and built Stanza's 'Timeline Campaign' feature which consists of a client-facing interface that allows the user to edit a responsive email-layout containing their upcoming events and details. The completed campaigin is then compiled on the server in Node.js and a responsive, transactional email is sent off to their subscribers with the embedded timeline of events.
      </p>
    </div>
    <div class='work-spacer'></div>
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("https://www.tryinteract.com/");' class='company-name' href="">Interact</a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Software Engineer</p>
    <p class="interval-and-location">December 2014 - March 2015 | San Francisco, Ca</p>
    <div class='article-text-container'>
      <p class='article-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <p class='work-type'>Portfolio Projects</p>
    <p class='company-name'>Room Baby</p>
    <div class='article-line'></div>
    <p class='role-name'>Software Engineer</p>
    <p class="interval-and-location">March 2015 - Present | San Francisco, Ca</p>
    <div class='article-text-container'>
      <p class='article-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class='work-spacer'></div>
    <p class='company-name'>Room Baby</p>
    <div class='article-line'></div>
    <p class='role-name'>Software Engineer</p>
    <p class="interval-and-location">March 2015 - Present | San Francisco, Ca</p>
    <div class='article-text-container'>
      <p class='article-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
