<div ng-class='{ "show-portfolio" : ( showPortfolio )}' class='portfolio-overlay'>
  <div>
    <p class='work-type'>Professional Work</p>
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("http://oaklabs.is/");' class='company-name' href="">Oak Labs, Inc.<span class="icon-globe"></span></a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Principal Engineer</p>
    <p class="interval-and-location">October 2015 - Present | San Francisco, Ca</p>
    <div class='article-text-container'>
      <p class='article-stack'><span>Stack: </span> Angular.js, React.js, React Native, Node.js, Express.js, MongoDB</p>
      <p class='article-tools'><span>Tools: </span>Gulp, Xcode, Redis, AWS, Lodash, Async</p>
      <p class='about-stanza-header'>About Oak</p>
      <p class='about-stanza-body'>We are bridging the worlds of tech and retail, designing elegant, intuitive customer experiences that will transform the way we think about shopping forever. Starting with our interactive Oak Fitting Room, we’re enabling our retail partners to create magical and meaningful customer experiences, while capturing previously unattainable shopper insights.</p>
    </div>    
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("https://stanza.co/");' class='company-name' href="">Stanza<span class="icon-globe stanza"></span></a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Frontend Engineer</p>
    <p class="interval-and-location">March 2015 - October 2015 | San Francisco, Ca</p>
    <div class='article-text-container'>
      <p class='article-stack'><span>Stack: </span> Angular.js, Node.js, Express.js, MongoDB</p>
      <p class='article-tools'><span>Tools: </span> Grunt, Redis, AWS, HighCharts, Underscore, Async, Invision</p>
      <p class='about-stanza-header'>About Stanza</p>
      <p class='about-stanza-body'>Stanza's mission is to make scheduling around the web/mobile seamless. Our smart "Add to Calendar" button is easy to embed in any business' website/mobile app and offers their audience a two-click process to sync future events with any calendar. Current customers include large sports franchises (NCAA, NBA, NHL, NFL) where we've seen 50M+ calendar event downloads since launch.</p>
      <p class='my-contributions'>My Contributions</p>
      <p class='article-text'>
        Built Stanza's analytics feature. Logic is written on the client along with data-visualization using HighCharts.js
      </p>
      <p class='article-text'>
        Built the referral program at the time of Stanza's Button 2.0 launch.
      </p>
      <p class='article-text'>
        Built internal tools for the bd team to help streamline the sales process.
      </p>
      <p class='article-text'>
        Built the client-side logic and rendering for the recurring events feature. Generates and renders recurring events based on an individual event's recurrence rule.
      </p>
      <p class='article-text'>
        Removed an outdated task runner and built grunt into an existing app to help speed up development time and to compress the build properly for deployment.
      </p>
      <p class='article-text'>
        Built Stanza's dashboard v2 alongside lead frontend Yash Saxena and lead designer Jonathan Capecchi (shipped Sept 2015).
      </p>
    </div>
    <div class='work-spacer'></div>
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("https://www.tryinteract.com/");' class='company-name' href="">Interact<span class="icon-globe interact"></span></a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Software Engineer</p>
    <p class="interval-and-location">December 2014 - March 2015 | San Francisco, Ca</p>
    <div class='article-text-container'>
      <p class='article-stack'><span>Stack: </span> Backbone.js, Node.js, Express.js, MongoDB</p>
      <p class='article-tools'><span>Tools: </span> Grunt, Browserify, AWS, Underscore, Async</p>
      <p class='about-interact-header'>About Interact</p>
      <p class='about-stanza-body'>Interact enables the creation of and embedding of quizzes in your website to engage customers and generate leads. A few of Interact's growing clientele include Forbes, CBS, Disney, American Red Cross and TED.</p>
      <p class='my-contributions'>My Contributions</p>
      <p class='article-text'>
        Co-built version two of the Interact web application alongside CTO, Matt Clark.
      </p>
      <p class='article-text'>
        Built Interact's user authentication system, created mongo schemas, wrote the endpoints and server-side logic in Node.js.
      </p>
      <p class='article-text'>
        Wrote and deployed multiple apis. Built small, reuseable modules in Node.js to fit the app's needs.
      </p>
      <p class='article-text'>
        Wrote the analytics logic on the server that generates a downloadable CSV file.
      </p>
      <p class='article-text'>
        Co-built Interact's real-time, collaboration feature.
      </p>
    </div>
    <p class='work-type projects'>Portfolio Projects</p>
    
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("https://broadcast-it.herokuapp.com/");' class='company-name' href="">Broadcast It<span class="icon-globe you-are-here"></span></a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Broadcast A Live Video Stream, Promote & Share, Join Other Streams</p>
    <p class="interval-and-location">December 2015 | San Francisco, Ca</p>
    <p class='article-stack'><span>Stack: </span> React.js, Flux (Reflux), Node.js, Express.js, WebRtc</p>
    <p class='article-tools project'><span>Tools: </span>OpenTok Api, Gulp.js, Redis</p>
    <div class='article-text-container'>
      <p class='article-text'></p>
      <p class='article-text'>Broadcast It allows anyone to create a live, shareable video stream. It can be shared directly to the publisher's facebook wall or by the provided url. 
      Friends and followers will be redirected to the live broadcast and the real-time viewer count will be reflected in the publisher's UI.
     </p>
      <div class='article-spacer'></div>
      <p class='article-text'>WebRtc functionality is implemented via the OpenTok API (big fan).</p>
    </div>

    <div class='work-spacer'></div>
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("https://you-are-here-app.herokuapp.com/");' class='company-name' href="">You Are Here<span class="icon-globe you-are-here"></span></a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Search Places, Get Reviews, Request Uber</p>
    <p class="interval-and-location">September 2015 | San Francisco, Ca</p>
    <p class='article-stack'><span>Stack: </span> Angular.js, Node.js, Express.js</p>
    <p class='article-tools project'><span>Tools: </span> Uber API, Yelp API, Google Maps API, Gulp.js</p>
    <div class='article-text-container'>
      <p class='article-text'></p>
      <p class='article-text'>You Are Here integrates the Uber Api, Yelp Api and the Google Maps Api. It also implements oAuth 2.0 and deep-linking into Uber's native iOS app. Provides a search box to query for types of places in the area (bars, dinner, dentist, etc) and the search results render details about the places along with the yelp reviews and the uber ride-price and time-estimates. </p>
      <div class='article-spacer'></div>
      <p class='article-text'>When using iOS, there will also be a 'request uber' button next to each listing. You are here is mobile-first and fully responsive.</p>
    </div>
    <div class='work-spacer'></div>


    

    <div class='work-spacer'></div>
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("http://scrape-rentals.herokuapp.com/");' class='company-name' href="">Scrape Rentals<span class="icon-globe scrape-rentals"></span></a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Scrapes Rental Listings in the US</p>
    <p class="interval-and-location">July 2015 | San Francisco, Ca</p>
    <p class='article-stack'><span>Stack: </span> Angular.js, Node.js, Express.js</p>
    <p class='article-tools project'><span>Tools: </span> Grunt, Cheerio, Underscore</p>
    <div class='article-text-container'>
      <p class='article-text'>A mobile-first, fully-responsive web application that scrapes, cleans and renders rental listings in the US. DOM traversal in Node.js via the Cheerio library.</p>
      <div class='article-spacer'></div>
      <p class='article-text'>Scraped sites include rentals.com and apartments.com</p>
    </div>
  </div>
  <div class='portolio-footer'></div>
</div>
