<div ng-show='showPortfolio && !Contact' ng-class='{ "show-portfolio" : ( showPortfolio || Portfolio )}' class='portfolio-overlay'>
  <div>
    <p class='work-type'>Professional Work</p>
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("https://stanza.co/");' class='company-name' href="">Stanza<span class="icon-globe"></span></a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Frontend Engineer</p>
    <p class="interval-and-location">March 2015 - Present | San Francisco, Ca</p>
    <div class='article-text-container'>
      <p class='article-stack'><span>Stack: </span> Angular.js, Node.js, Express.js, MongoDB</p>
      <p class='article-tools'><span>Tools: </span> Grunt, Redis, AWS, HighCharts, Underscore, Async, Invision</p>
      <p class='about-stanza-header'>About Stanza</p>
      <p class='about-stanza-body'>Stanza's mission is to make scheduling around the web/mobile seamless. Our smart "Add to Calendar" button is easy to embed in any business' website/mobile app and offers their audience a two-click process to sync future events with any calendar. Current customers include large sports franchises (NCAA, NBA, NHL, NFL) where we've seen 50M+ calendar event downloads since launch.</p>
      <p class='my-contributions'>My Contributions</p>
      <p class='article-text'>
        Built Stanza's analytics feature. Logic is written on the client along with data-visualization using HighCharts.js
      </p>
      <p class='article-text'>
        Built Stanza's payment system.
      </p>
      <p class='article-text'>
        Built internal tools for the bd team to help streamline the sales process.
      </p>
      <p class='article-text'>
        Built the referral program at the time of Stanza's Button 2.0 launch.
      </p>
      <p class='article-text'>
        Removed an outdated task runner and built grunt into an existing app to help speed up development time and to compress the build properly for deployment.
      </p>
      <p class='article-text'>
        Worked with Stanza's lead UI/UX Designer, Jonathan Capecchi, and built Stanza's 'Timeline Campaign' feature which consists of a client-facing interface that allows the user to edit a responsive email-layout containing their upcoming events and details. The completed campaigin is then compiled on the server in Node.js and a responsive, transactional email is sent off to their subscribers with the embedded timeline of events.
      </p>
    </div>
    <div class='work-spacer'></div>
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("https://www.tryinteract.com/");' class='company-name' href="">Interact<span class="icon-globe"></span></a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Software Engineer</p>
    <p class="interval-and-location">December 2014 - March 2015 | San Francisco, Ca</p>
    <div class='article-text-container'>
      <p class='article-stack'><span>Stack: </span> Backbone.js, Node.js, Express.js, MongoDB</p>
      <p class='article-tools'><span>Tools: </span> Grunt, Browserify, AWS, Underscore, Async</p>
      <p class='about-interact-header'>About Interact</p>
      <p class='about-stanza-body'>Interact enables the creation of and embedding of quizzes in your website to engage customers and generate leads. A few of Interact's growing clientele include Forbes, CBS, Disney, American Red Cross and TED.</p>
      <p class='my-contributions'>My Contributions</p>
      <p class='article-text'>
        Co-built version two of the Interact desktop app alongside CTO, Matt Clark.
      </p>
      <p class='article-text'>
        Built Interact's user authentication system.
      </p>
      <p class='article-text'>
        Wrote and deployed multiple apis. Built small, reuseable modules in Node.js to fit the app's needs.
      </p>
      <p class='article-text'>
        Wrote the anayltics logic on the server that generates a downloadable CSV file.
      </p>
      <p class='article-text'>
       Co-built Interact's real-time, collaboration feature.
      </p>
    </div>
    <p class='work-type projects'>Portfolio Projects</p>
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("http://room-baby.com/");' class='company-name' href="">Room Baby<span class="icon-globe"></span></a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>Rooms, Broadcasts, File Sharing And More</p>
    <p class="interval-and-location">August 2015 | San Francisco, Ca</p>

      <p class='article-stack'><span>Stack: </span> Angular.js, Node.js, Express.js, MongoDB</p>
      <p class='article-tools project'><span>Tools: </span> OpenTok WebRtc API, Grunt, AWS, Underscore, Async</p>

    <div class='article-text-container'>
     <p class='article-text'></p>
      <p class='article-text'>Room Baby enables you to create rooms and broadcasts along with features like file-sharing and hi-def video recording.
     A room is just like a video chat. You can see and hear them and they can see and hear you. Only these rooms come with a few extra features geared towards live-broadcasting, social-sharing, collaborating and archiving.</p>
     <div class='article-spacer'></div>
     <p class='article-text'>As far as Room Baby is concerned, a broadcast is a live audio/video stream of one person. Other people can view the broadcast, but they can't actually join the room as they would in a shared room, sorta like watching tv - only it's a live stream capable of being created by and shared with anyone.</p>
    </div>
    <div class='work-spacer'></div>
    <div class='article-header'>
      <a ng-click='landingCtrl.onCompanySelected("http://scrape-rentals.herokuapp.com/");' class='company-name' href="">Scrape Rentals<span class="icon-globe"></span></a>
    </div>
    <div class='article-line'></div>
    <p class='role-name'>A Responsive Web App that Scrapes Rental Listings in the US</p>
    <p class="interval-and-location">July 2015 | San Francisco, Ca</p>

    <p class='article-stack'><span>Stack: </span> Angular.js, Node.js, Express.js</p>
    <p class='article-tools project'><span>Tools: </span> Grunt, Cheerio, Underscore</p>
    <div class='article-text-container'>

      <p class='article-text'>A mobile-first, fully-responsive web application that scrapes, cleans and renders rental listings in the US. DOM traversal in Node.js via the Cheerio library.</p>
        <div class='article-spacer'></div>
      <p class='article-text'>Scraped sites include rentals.com and apartments.com</p>
    </div>
  </div>
</div>
