body {
  margin: auto;
  overflow-x: hidden;
  background: url(../assets/img/bg-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.inline-block {
  display: inline-block;
}

.work-spacer {
  width: 100%;
  position: relative;
  height: 16px;
}

ul {
  background: red;
  list-style-type: none;
}
