body {
  margin: auto;
  overflow-x: hidden;
  background: url(../assets/img/bg-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.inline-block {
  display: inline-block;
}

.work-spacer {
  width: 100%;
  position: relative;
  height: 16px;
}

.add-blue {
  cursor: pointer;
  color: #46A8E5;
}

.err-message {
  position: absolute;
  font-size: 12px;
  color: #fa9581;
  left: 7%;
}

.loader {
  height: 2em;
  width: 2em;
  animation: rotation 1s infinite linear;
  border: 1px solid #FFF;
  border-top-color: #46A8E5;
  border-radius: 50%;
  position: relative;
  top: 190px;
  margin: auto;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
