/* Navbar Container */

.navbar-container {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 130px;
  left: 0;
  top: 0;
  margin: auto;
}


/* Navbar Container Inner */

.navbar-container-inner {
  position: relative;
  color: white;
  left: 0;
  margin: 0;
  padding-left: 12%;
  font-weight: 300;
  z-index: 1;
  padding-top: 65px;
}

.navbar-copy {
  display: inline-block;
}

.navbar-block.portfolio:hover {
  background: #fa9581;
  color: white;
}

.navbar-block.portfolio {
  cursor: pointer;
}

.navbar-block.portfolio p {
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

.navbar-block.portfolio {
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar-block.portfolio p:hover {
  color: white;
}


/*orange  color: #fa9581;*/

.navbar-spacer {
  height: 20px;
  width: 1px;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  margin-left: 18px;
}

.navbar-tab p {
  position: relative;
  top: 5px;
}

.navbar-copy.title {
  font-size: 42px;
  margin: 0;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: inline-block;
  opacity: 0;
  top: 20px;
  position: relative;
}

.navbar-tab {
  position: absolute;
  right: 160px;
  top: 97px;
  width: 419px;
  text-align: center;
  font-size: 14px;
  background-color: #efefef;
  border-radius: 4px 5px 0 0;
  text-transform: capitalize;
}

/* Navbar Option Container */
.navbar-block {
  display: inline-block;
  width: 102px;
  height: 32px;
  background: #efefef;
  position: relative;
}

/* Navbar Options */

.navbar-copy.work,
.navbar-copy.resume,
.navbar-copy.about,
.navbar-copy.contact {
  position: relative;
  display: inline-block;
  color: grey;
  font-weight: 400;
  margin: 0 5px 0 5px;
}


/* Fade In Elements */

.overlay-container-inner.fade-in,
.navbar-tab.fade-in,
.navbar-copy.title.fade-in,
.navbar-copy.work.fade-in,
.navbar-copy.resume.fade-in,
.navbar-copy.about.fade-in,
.navbar-copy.contact.fade-in {
  opacity: 1;
}
