.social-container {
  position: absolute;
  width: auto;
  text-align: center;
  font-size: 21px;
  top: 145px;
  margin: auto;
  left: 0;
  right: 0;
}

.icon-social-github,
.icon-social-linkedin,
.icon-social-twitter {
  margin-left: 30px;
  font-size: 24px;
  cursor: pointer;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.icon-social-github:hover,
.icon-social-linkedin:hover,
.icon-social-twitter:hover {
  color: #46A8E5;
}


/* Navbar Container */

.navbar-container {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 130px;
  left: 0;
  top: 0;
  margin: auto;
}


/* Navbar Container Inner */

.navbar-container-inner {
  position: relative;
  color: white;
  left: 0;
  margin: 0;
  padding-left: 12%;
  font-weight: 300;
  z-index: 1;
  padding-top: 65px;
}

.navbar-copy {
  display: inline-block;
}

.navbar-block.portfolio,
.navbar-block.resume,
.navbar-block.about,
.navbar-block.contact {
  cursor: pointer;
}

.navbar-block.portfolio.is-active,
.navbar-block.contact.is-active {
  background: #fa9581;
}

.navbar-block.portfolio p.is-active,
.navbar-block.contact p.is-active {
  color: #fff;
}

.navbar-block.portfolio p,
.navbar-block.resume p,
.navbar-block.about p,
.navbar-block.contact p {
  cursor: pointer;
}

.navbar-spacer {
  height: 20px;
  width: 1px;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  margin-left: 18px;
}

.navbar-tab p {
  position: relative;
  top: 5px;
}

.navbar-copy.title {
  font-size: 42px;
  margin: 0;
  top: 20px;
  position: relative;
  right: 14px;
}

.navbar-tab {
  position: absolute;
  right: 160px;
  top: 97px;
  width: 419px;
  text-align: center;
  font-size: 14px;
  background-color: #efefef;
  border-radius: 4px 5px 0 0;
  text-transform: capitalize;
}


/* Navbar Option Container */

.navbar-block {
  display: inline-block;
  width: 102px;
  height: 32px;
  background: #efefef;
  position: relative;
}


/* Navbar Options */

.navbar-copy.work,
.navbar-copy.resume,
.navbar-copy.about,
.navbar-copy.contact {
  position: relative;
  display: inline-block;
  color: grey;
  font-weight: 400;
  margin: 0 5px 0 5px;
}

.navbar-copy.work.on-hover,
.navbar-copy.resume.on-hover,
.navbar-copy.about.on-hover,
.navbar-copy.contact.on-hover {
  color: #fff;
}


/*on-hover*/


/* Fade In Elements */

.overlay-container-inner.fade-in,
.navbar-tab.fade-in,
.navbar-copy.title.fade-in,
.navbar-copy.work.fade-in,
.navbar-copy.resume.fade-in,
.navbar-copy.about.fade-in,
.navbar-copy.contact.fade-in {
  opacity: 1;
}

.navbar-spacer {
  height: 20px;
  width: 1px;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  margin-left: 13px;
}
