
 .navbar-block.portfolio:hover {
   background: #fa9581;
   color: white;
 }

 .navbar-block.portfolio {
   cursor: pointer;
 }

 .navbar-block.portfolio p {
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   cursor: pointer;
 }

 .navbar-block.portfolio {
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
 }

 .navbar-block.portfolio p:hover {
   color: white;
 }

 .article-text {
   color: white;
   padding-top: 20px;
   font-size: 14px;
   font-weight: 300;
   width: 97%;
 }

 .article-line {
   position: relative;
   background-color: rgba(225, 225, 225, .6);
   width: 250px;
   height: 1px;
   top: 5px;
 }

 .article-container {
   position: relative;
   padding-left: 25px;
   padding-bottom: 40px;
   padding-top: 10px;
   display: none;
   height: 100%;
 }

 .article-container.unhide {
   display: block;
 }

 .work-type {
   color: #fa9581;
   position: relative;
   width: 200px;
 }

 .company-name {
   color: white;
   font-size: 18px;
   margin: 0;
 }

 .role-name {
   font-size: 14px;
   color: #46A8E5;
   padding-top: 10px;
   margin: 0;
 }

 .interval-and-location {
   padding-top: 1px;
   font-size: 13px;
   color: #fff;
   margin: 0;
 }

 .overlay-container-inner {
   position: relative;
   height: 50px;
   padding-left: 20px;
   padding-top: 20px;
   opacity: 0;
 }

 .navbar-container {
   position: absolute;
   z-index: 8;
   width: 100%;
   height: 130px;
   left: 0;
   top: 0;
   margin: auto;
 }

 .navbar-container-inner {
   position: relative;
   color: white;
   left: 0;
   margin: 0;
   padding-left: 12%;
   font-weight: 300;
   z-index: 1;
   padding-top: 65px;
 }

 .navbar-copy {
   display: inline-block;
 }
 /*orange  color: #fa9581;*/

 .navbar-spacer {
   height: 20px;
   width: 1px;
   background-color: rgba(0, 0, 0, .3);
   position: absolute;
   margin-left: 18px;
 }

 .navbar-tab p {
   position: relative;
   top: 5px;
 }

 .navbar-copy.title {
   font-size: 42px;
   margin: 0;
   -moz-transition: all .3s ease;
   -ms-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
   display: inline-block;
   opacity: 0;
   top: 20px;
   position: relative;
 }

 .navbar-tab {
   position: absolute;
   right: 160px;
   top: 97px;
   width: 419px;
   text-align: center;
   font-size: 14px;
   background-color: #efefef;
   border-radius: 4px 5px 0 0;
   text-transform: capitalize;
 }

 .navbar-block {
   display: inline-block;
   width: 102px;
   height: 32px;
   background: #efefef;
   position: relative;
 }

 .navbar-copy.work,
 .navbar-copy.resume,
 .navbar-copy.about,
 .navbar-copy.contact {
   position: relative;
   display: inline-block;
   color: grey;
   font-weight: 400;
   margin: 0 5px 0 5px;
 }

 .overlay-container-inner.fade-in,
 .navbar-tab.fade-in,
 .navbar-copy.title.fade-in,
 .navbar-copy.work.fade-in,
 .navbar-copy.resume.fade-in,
 .navbar-copy.about.fade-in,
 .navbar-copy.contact.fade-in {
   opacity: 1;
 }
