/* Main Overlay Content Container */


/* orange #fa9581 */


/* blue #46A8E5 */

.portfolio-footer {
  width: 100%;
  padding-bottom: 10px;
}

.icon-globe {
  font-size: 19px;
  position: absolute;
  left: 231px;
  color: #46A8E5;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: .3s;
  transition: 0.3s;
}

.article-spacer {
  width: 100%;
  height: 10px;
  background: transparent;
  position: relative;
}

.article-tools.project {
  padding-bottom: 15px;
}

.portfolio-overlay {
  position: relative;
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  right: 0;
  top: 130px;
  margin: auto;
  height: 100%;
  width: 80%;
  border: 1px solid rgba(225, 225, 225, .6);
  border-bottom: transparent;
  border-radius: 15px 15px 0 0;
  padding: 20px;
}

.portfolio-overlay.show-portfolio {
  color: #46A8E5;
}

.about-stanza-header {
  position: relative;
  color: #46A8E5;
  padding-bottom: 10px;
  font-size: 14px;
}

.my-contributions {
  position: relative;
  color: #46A8E5;
  font-size: 14px;
  padding-bottom: 5px;
}

.about-stanza-body {
  position: relative;
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 300;
}
.about-me.first {
  position: relative;
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
}



/* Article Container */

.article-container {
  position: relative;
  padding-left: 25px;
  padding-bottom: 40px;
  padding-top: 10px;
  display: none;
  height: 100%;
}

.article-container.unhide {
  display: block;
}

div.ng-scope > div:nth-child(3) > div > div > div:nth-child(6) > p:nth-child(3) {
  padding-top: 15px;
  padding-bottom: 5px;
}

.about-interact-header {
  position: relative;
  color: #46A8E5;
  padding-bottom: 10px;
  font-size: 14px;
  padding-top: 15px;
}

.article-text {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  width: 97%;
  line-height: 1.5;
}

.article-stack {
  color: white;
  position: relative;
  padding-top: 15px;
  font-size: 13px;
}

.article-tools {
  color: white;
  position: relative;
  font-size: 13px;
}

.article-stack span,
.article-tools span {
  color: #fa9581;
  padding-right: 5px;
}

.article-line {
  position: relative;
  width: 250px;
  height: 0px;
  top: 5px;
  border-bottom: 1px solid #efefef;
}

.article-line.body {
  position: relative;
  width: 100px;
  height: 0px;
  border-bottom: 1px solid rgba(225, 225, 255, .7);
  display: none;
}

.work-type {
  color: #fa9581;
  z-index: 0;
  padding-top: 45px;
  font-size: 21px;
}

.work-type.projects {
  padding-top: 30px;
}

.article-header {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}

.company-name {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 18px;
  margin: 0;
  top: 10px;
  width: auto;
  position: relative;
  margin: auto;
  cursor: pointer;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a.company-name:hover {
  color: #fa9581;
}

.role-name {
  font-size: 14px;
  color: #46A8E5;
  padding-top: 15px;
  margin: 0;
}

.interval-and-location {
  padding-top: 1px;
  font-size: 13px;
  color: #fff;
  margin: 0;
}
