<!DOCTYPE html>
<html>

<head>
  <base href="/"></base>
  <title>Scott Jason</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href="https://fontastic.s3.amazonaws.com/czRhdqnu6fqYHicX6saoQb/icons.css" rel="stylesheet">
  <link rel='stylesheet' href='/build/dev.min.css'/>
</head>

<body ng-app='Portfolio'>

  <h2 style="display:none;" id="pathName"><%= pathName %></h2>
  <div ng-scroll ui-view></div>
	<script type='text/javascript' src='/build/vendor.min.js'></script>
  	<script type='text/javascript' src='/build/dev.min.js'></script>
</body>

</html>
