<div class='landing-overlay'></div>
<div ng-init='landingCtrl.initialize();' class='landing-container'>
  <div ng-class="{ 'translate-up' : (translateUp) }" class='landing-container-inner'>
  <p ng-class="{ 'fadein-point2' : (fadeTitle) }" class='landing-title'>Scott Jason</p>
  <p class='landing-subtitle'>Software Engineer | San Francisco, CA</p>
  <div class='landing-line'></div>
  	<p class='landing-opts inline-block'>work</p>
  	<p class='landing-opts inline-block'>projects</p>
  	<p class='landing-opts inline-block'>resume</p>
  	<p class='landing-opts inline-block'>about</p>
  	<p class='landing-opts inline-block'>contact</p>
  </div>
</div>
