@media (min-width: 1024px) {
  .landing-container-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 25px;
    width: 800px;
    height: 210px;
    margin: auto;
    text-align: center;
    opacity: 1;
  }
  .navbar-spacer {
    height: 20px;
    width: 1px;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    margin-left: 13px;
  }
}
