@media (min-width: 1024px) {
  .landing-container-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60px;
    width: 800px;
    height: 210px;
    margin: auto;
    text-align: center;
    opacity: 1;
  }
  .landing-overlay-content {
    position: absolute;
    background-color: black;
    left: 0;
    right: 0;
    top: 110px;
    margin: auto;
    height: 0;
    width: 0;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
    border: 1px solid rgba(225, 225, 225, .6);
    border-bottom: transparent;
    border-radius: 15px 15px 0 0;
  }
  .landing-overlay-content.show-overlay {
    height: 100%;
    width: 80%;
  }
  .welcome-btn {
    cursor: pointer;
    width: 200px;
    height: 40px;
    position: relative;
    top: 64px;
    bottom: 0;
    margin: auto;
    border: 1px solid #fa9581;
    border-radius: 15px;
  }
  .welcome-btn > p {
    cursor: pointer;
    color: white;
    margin: 0;
    top: 8px;
    position: relative;
    font-weight: 300;
  }
  .landing-container-inner.fade-out {
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
}
