/* Desktop */

@media (min-width: 1024px) {
  .landing-overlay {
    background: rgba(0, 0, 0, .4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .landing-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .landing-container-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 800px;
    height: 210px;
    margin: auto;
    text-align: center;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
  }
  .landing-container-inner.translate-up {
    opacity: 0;
  }
  .landing-title {
    margin: 0;
    top: 10px;
    color: white;
    position: relative;
    font-size: 48px;
    font-weight: 300;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
  }
  .landing-title.fadein-point2 {
    opacity: 1;
  }
  .landing-subtitle {
    margin: 0;
    top: 13px;
    color: #fa9581;
    position: relative;
    font-size: 18px;
    font-weight: 300;
  }
  .landing-line {
    position: relative;
    width: 500px;
    height: 1px;
    background: rgba(225, 225, 225, .4);
    top: 20px;
    margin: auto;
  }
  .landing-opts {
    color: white;
    font-size: 16px;
    position: relative;
    top: 10px;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  .landing-opts:hover {
    color: #fa9581;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
}
