@media (min-width: 320px) and (max-width: 568px) {
  .contact-form {
    text-align: center;
    width: 70%;
    position: relative;
    margin: auto;
  }
  .contact-overlay {
    height: 400px;
  }
}
