@media (min-width: 320px) and (max-width: 568px) {
  .landing-container-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    height: 210px;
    margin: auto;
    text-align: center;
  }
  .landing-title {
    font-size: 36px;
  }
  .landing-subtitle {
    font-size: 14px;
    width: 280px;
  }
  .landing-line {
    position: relative;
    width: 250px;
    top: 10px;
  }
}
