@media (min-width: 320px) and (max-width: 568px) {
  .landing-container-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60px;
    width: 280px;
    height: 210px;
    margin: auto;
    text-align: center;
  }
  .landing-title {
    position: relative;
    font-size: 36px;
    bottom: 3px;
  }
  .landing-subtitle {
    font-size: 14px;
    width: 280px;
  }
  .landing-line {
    width: 250px;
  }
  .welcome-btn {
    width: 150px;
    height: 30px;
  }
  .welcome-btn > p {
    font-size: 14px;
  }
}
