@media (min-width: 320px) and (max-width: 568px) {
  .navbar-copy.title {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    font-size: 30px;
    margin: auto;
    text-align: center;
    z-index: 3;
  }
  .navbar-tab {
    display: none;
  }
  .dropdown-wrap p.dropdown-opt {
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: #fa9581;
    padding-top: 20px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 0;
    opacity: 0;
    z-index: 0;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: .3s;
    transition: 0.3s;
  }
  .dropdown-wrap {
    z-index: 0;
    cursor: pointer;
    position: absolute;
    background: #efefef;
    width: 70%;
    height: 40px;
    left: 0;
    margin: auto;
    top: 90px;
    right: 0;
    z-index: 6;
    border-radius: 5px 5px 0 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: .2s;
    transition: 0.2s;
  }
  .dropdown-wrap.fix-dropdown {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: .2s;
    transition: 0.2s;
    position: fixed;
    top: 0;
    border-radius: 0 0 0 0;
    width: 100%;
    margin: auto;
  }
  .dropdown-wrap.on-open {
    z-index: 6;
    height: 188px;
  }
  p.dropdown-opt {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: .3s;
    transition: 0.3s;
    visibility: hidden;
  }
  p.dropdown-opt.on-open {
    cursor: pointer;
    visibility: visible;
  }
  .dropdown-wrap p.on-open {
    z-index: 6;
    opacity: 1;
    border-radius: 5px 5px 0 0;
  }
  .icon-caret-down {
    position: absolute;
    color: #fa9581;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 16px;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: .3s;
    transition: 0.3s;
  }
  .icon-caret-down.hide {
    display: none;
  }
  .placeholder-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 225px;
    height: 40px;
    background: transparent;
    margin: auto;
    text-align: center;
  }
  .placeholder {
    color: #46A8E5;
    color: rgba(0, 0, 0, .7);
    position: relative;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
    margin: auto;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: .3s;
    transition: 0.3s;
  }
  .placeholder:hover {
    color: #fa9581;
  }
  .social-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 18px;
    top: 59px;
  }
  .social-container > i {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: .3s;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 7px;
    padding-right: 7px;
    color: #efefef;
  }
  .social-container > i:hover {
    color: #46A8E5;
  }
}
