@media (min-width: 320px) and (max-width: 568px) {
  .interval-and-location {
    font-size: 12px;
  }
  .work-type {
    color: #fa9581;
    position: relative;
    width: auto;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 30px;
    font-size: 22px;
  }
  .work-type:nth-child(1) {
    padding-top: 0px;
  }
  .about-me,
  .about-me.first,
  .about-interact-header,
  .company-name,
  .role-name,
  .interval-and-location,
  .article-text,
  .article-header,
  .about-stanza-header,
  .about-stanza-body,
  .my-contributions,
  .article-stack,
  .article-tools,
  .article-stack span,
  .article-tools span {
    text-align: center;
  }
  .about-me.first {
    margin-bottom: -10px;
  }
  .article-line {
    color: white;
    width: 175px;
    margin: auto;
    bottom: 10px;
  }
  .interval-and-location {
    font-size: 11px;
    white-space: nowrap;
  }
  .icon-globe.stanza {
    left: 95px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: .3s;
    transition: 0.3s;
  }
  .icon-globe.interact {
    left: 100px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: .3s;
    transition: 0.3s;
  }
  .icon-globe.you-are-here {
    left: 123px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: .3s;
    transition: 0.3s;
  }
  .icon-globe.scrape-rentals {
    left: 131px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: .3s;
    transition: 0.3s;
  }
}
